services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pex-poc-container
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: always